<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/adminLto/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/overlayScrollbars/styles/overlayScrollbars.min.css">