<!-- begin Preloader -->
<div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="/logo/logo.png" alt="Logo" height="120" width="120">
</div>
<!-- end Preloader -->